@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="colorChange">Welcome To Starbucks</h1>
    <p>Here is my <a href="https://github.com/Mdriscoll95">github</a>.</p>
</div>

@*<video controls>
        <source src="@Url.Content("~/Media/MainPage.mp4")" type="video/mp4">
        Your browser does not support the video tag.
    </video>*@

<video id="video-bg" autoplay muted loop>
    <source src="@Url.Content("~/Media/MainPage.mp4")" type="video/mp4">
    Your browser does not support the video tag.
</video>
