@model Merchandise

<h2>Create a New Merchandise</h2>

@using (Html.BeginForm("InsertMerchandiseToDatabase", "Merchandise", "Post"))
{
    <input asp-for="MerchandiseID" type="hidden" value="" />

    <label asp-for="MerchandiseName" class="control-label">Name</label>
    <input type="text" name="MerchandiseName" class="form-control" value="" />

    <label asp-for="MerchandiseCategory" class="control-label">Category</label>
    <input type="text" name="MerchandiseCategory" class="form-control" value="" />

    <label asp-for="MerchandisePrice" class="control-label">Price</label>
    <input type="number" step="0.01" name="MerchandisePrice" class="form-control" />

    <label asp-for="MerchandiseSold" class="control-label">Sold</label>
    <input type="number" step="0.01" name="MerchandiseSold" class="form-control" />

    <input type="submit" value="Create Merchandise" class="btn btn-primary" />
}

